<div class="container" id="profile">
  <section id="user_info">
    <%= image_tag(@user.gravatar) if @user.gravatar %>
    <h1><%= @user.name %></h1>
    <p><%= @user.email %><p>
    <p id="description"><%= @user.description %></p>
    <% if @user == current_user %>
    <p><%= link_to "Edit Description", "#", id: "edit_description" %>
      <form id="edit_form" action="/users/<%=current_user.id%>" class="hidden" role="form">
        <div class="form-group">
          <textarea class="form-control" placeholder="tell us what you like to mentor on" name="description"></textarea>
        </div>
        <button type="submit" class="btn btn-default">Save</button>
      </form>
    </p>
    <% end %>
  </section>
  <section id="availability_info">
    <article>
      <h2>Booked Mentoring</h2>
      <% if @booked_mentoring.any? %>
      <p class="text-info">This user has booked the following availabilities to receive mentoring.</p>
      <ul>
        <% @booked_mentoring.each do |booked| %>
        <li><%= link_to booked.mentor.name, user_path(booked.mentor) %> is mentoring this user on <%= appointment_format(booked.start_time) %> <% if @user == current_user %><%= link_to 'Cancel', appointment_path(booked, type: "cancel", from:"profile"), :method => :put, :confirm => "Are you sure?", :class => "text-danger" %><% end %></li>
        <% end %>
      </ul>
      <% else %>
      <p class="text-info">This user has not signed up for mentoring</p>
      <% end %>
    </article>
    <article>
      <h2>Workshops</h2>
      <% if @workshops.any? %>
      <p class="text-info">This user is offering the following workshops.</p>
      <ul>
        <% @workshops.each do |workshop| %>
        <li><%= workshop.description %> is being offered at <%= appointment_format(workshop.start_time) %>
          <% if @user == current_user %>
          <%= link_to 'Remove', appointment_path(workshop, from: "profile"), :method => :delete, :confirm => "Are you sure?", :class => "text-danger" %>
          <% end %></li>
        <% end %>
      </ul>
      <% else %>
      <p class="text-info">This user has not offered any workshops.</p>
      <% end %>
    </article>
    <article>
      <h2>Filled Availabilities</h2>
      <% if @filled_availabilities.any? %>
      <p class="text-info">Availabilities offered by this user which have been filled</p>
      <ul>
        <% @filled_availabilities.each do |filled| %>
        <li><%= appointment_format(filled.start_time) %> is filled by <%= link_to filled.mentee.name, user_path(filled.mentee) %> <% if @user == current_user %><%= link_to 'Remove', appointment_path(filled, from: "profile"), :method => :delete, :confirm => "Are you sure?", :class => "text-danger" %><% end %></li>
        <% end %>
      </ul>
      <% else %>
      <p class="text-info">This user has no filled mentoring slots</p>
      <% end %>
    </article>
    <article>
      <h2>Open Availabilities</h2>
      <% if @open_availabilities.any? %>
      <p class="text-info">Availabilities offered by this user which have not been filled</p>
      <ul>
        <% @open_availabilities.each do |open| %>
        <li><%= appointment_format(open.start_time) %> <% if @user == current_user %><%= link_to 'Remove', appointment_path(open, from: "profile"), :method => :delete, :confirm => "Are you sure?", :class => "text-danger" %><% end %></li>
        <% end %>
      </ul>
      <% else %>
      <p class="text-info">This user has no available mentoring slots</p>
      <% end %>
    </article>
  </section>
</div>