<div class="container">
  <h1>Schedule for <%= @saturday.strftime("%m/%d/%Y")  %><span id="help_popover"><%= icon('question-circle')%></span></h1>
  <div class="schedule_body">
    <% @schedule.each do |row| %>

    <% if row.all? { |slot| slot.is_a? String } %>
      <div class="schedule_header">
    <% else %>
      <div class="schedule_row">
    <% end %>

      <% row.each do |slot| %>
        <% if slot.is_a? Time %>
          <div class="slot new_mentor_availibility"><%= datetime_format(slot) %></div>
        <% elsif slot.is_a? Appointment %>
          <% if slot.mentee_id %>
            <div class="slot filled">
            <% if slot.mentee_id == session[:user_id] %>
            <a href="#" class="cancelAppointment" data-id="<%= slot.id %>"><%= icon('calendar-o') %></a>
            <% end %>
          <% else %>
          <div class="slot available">
            <% if slot.mentor_id != session[:user_id] %>
            <a href="#" class="bookAppointment" data-id="<%= slot.id %>"><%= icon('calendar') %></a>
            <% end %>
          <% end %>
          <% if slot.mentor_id == session[:user_id] %>
          <a href="#" class="deleteAvailability" data-id="<%= slot.id %>"><%= icon('times') %></a>
          <% end %>
          </div>
        <% else %>
          <div class="slot"><%= slot %></div>
        <% end %>
      <% end %>
    </div>
    <% end %>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="new_appointment" tabindex="-1" role="dialog" aria-labelledby="new_appt_label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="new_appt_label">Create Mentoring Availability</h4>
      </div>
      <div class="modal-body">
        <p>Click 'Create' to make an availability for you to mentor someone at <span id="start_time"></span> on <%= @saturday.strftime("%m/%d/%Y")%></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="create_appt" type="button" class="btn btn-primary">Create</button>
      </div>
    </div>
  </div>
</div>
<!-- end Modal -->

<!-- Modal -->
<div class="modal fade" id="edit_appointment" tabindex="-1" role="dialog" aria-labelledby="edit_appt_label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="edit_appt_label"></h4>
      </div>
      <div class="modal-body">
        <p id="edit_text"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="edit_appt" type="button" class="btn btn-primary"></button>
      </div>
    </div>
  </div>
</div>
<!-- end Modal -->

<!-- Modal -->
<div class="modal fade" id="delete_availability" tabindex="-1" role="dialog" aria-labelledby="delete_avail_label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="delete_avail_label">Delete Availability</h4>
      </div>
      <div class="modal-body">
        <p>Click 'Delete' to remove this availability.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="delete_avail" type="button" class="btn btn-primary">Delete</button>
      </div>
    </div>
  </div>
</div>
<!-- end Modal -->

<form id="delete_appt_form" class="hidden" method="post">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <input type="hidden" name="_method" value="delete">
</form>

<form id="edit_appt_form" class="hidden" method="post">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <input type="hidden" name="_method" value="put">
  <input type="hidden" name="type" value="">
</form>

<form id="create_appt_form" class="hidden" method="post" action="/appointments">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <input type="text" name="start_time">
</form>

<div id="help_content" class="hidden">
  <div id="help" class="help_body">
    <div class="help_row">
      <div class="slot new_mentor_availibility">9:00 AM</div>
      <div class="slot description">Click this slot to create an availability to mentor someone for that timeslot.</div>
    </div>
    <div class="help_row">
      <div class="slot filled"></div>
      <div class="slot description">This is a slot that someone has made available for pairing but has been filled by a mentee that is not you.</div>
    </div>
     <div class="help_row">
      <div class="slot filled"><%= icon('times') %></div>
      <div class="slot description">This is slot where you have made yourself available for pairing and has already been filled.  Click to cancel the availability.</div>
    </div>
    <div class="help_row">
      <div class="slot filled"><%= icon('calendar-o') %></div>
      <div class="slot description">This is a slot that someone has made available for pairing and has been filled by you.  Click this to cancel the appointment.</div>
    </div>
    <div class="help_row">
      <div class="slot available"><%= icon('calendar') %></div>
      <div class="slot description">This is a slot that someone has made available for pairing. Click to book this pairing session.</div>
    </div>
    <div class="help_row">
      <div class="slot available"><%= icon('times') %></div>
      <div class="slot description">This is slot where you have made yourself available for pairing but has not been filled.  Click to cancel the availability.</div>
    </div>
<!--  Build this in later when profile pages are setup
    <div class="help_header">
      <div class="slot"></div>
    </div>
-->
  </div>
</div>
