<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="new_appointment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">Create Mentoring Availability</h4>
        </div>
        <div class="modal-body">
          <p>Click 'Create' to make an availability for you to mentor someone at <span id="start_time"></span> on <%= @saturday.strftime("%m/%d/%Y")%></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button id="create_appt" type="button" class="btn btn-primary">Create</button>
        </div>
      </div>
    </div>
  </div>
  <!-- end Modal -->


  <h1>Schedule for <%= @saturday.strftime("%m/%d/%Y")  %></h1>
  <div class="schedule_body">
    <% @schedule.each do |row| %>

    <% if row.all? { |slot| slot.is_a? String } %>
      <div class="schedule_header">
    <% else %>
      <div class="schedule_row">
    <% end %>

      <% row.each do |slot| %>
        <% if slot.is_a? Time %>
          <div class="slot new_mentor_availibility"><%= datetime_format(slot) %></div>
        <% elsif slot.is_a? Appointment %>
          <% if slot.mentee_id %>
          <div class="slot filled">
            <% if slot.mentee_id == session[:user_id] %>
            <%= icon('calendar-o') %>
            <% end %>
          <% else %>
          <div class="slot available">
            <% if slot.mentor_id != session[:user_id] %>
            <%= icon('calendar') %>
            <% end %>
          <% end %>
          <% if slot.mentor_id == session[:user_id] %>
          <%= icon('times') %>
          <% end %>
          </div>
        <% else %>
          <div class="slot"><%= slot %></div>
        <% end %>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
<!--
  if the slot filled and has my mentor id, then make it deleteable
  if the slot available and has my mentor id, then make it deleteable
  if the slot is filled and has my mentee id , make it cancellable so that it can be available for someone else
  if the slot is available and has someone else's mentor id make it bookable
-->
<form id="create_appt_form" class="hidden" method="post" action="/appointments">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <input type="text" name="start_time">
</form>
