<div class="container">
  <h1>Pairing board for <%= @saturday.strftime("%m/%d/%Y")  %><span id="help_popover"><%= icon('question-circle')%></span></h1>
  <table id="schedule" class="schedule_body">
    <% @schedule.each do |row| %>

      <% if row.all? { |slot| slot.is_a?(String) || slot.is_a?(User) } %>
        <thead class="schedule_header">
          <tr>
          <% row.each do |slot| %>
            <% if slot.is_a? String %>
            <th class="slot"><%= slot %></th>
            <% else %>
            <th class="slot profile"><%= link_to slot.name, user_path(slot) %></th>
            <% end %>
          <% end %>
          </tr>
        </thead>
        <tbody>
      <% else %>
        <tr class="schedule_row">
          <% row.each do |slot| %>
            <% if slot.is_a? Time %>
              <td class="slot new_mentor_availibility"><%= datetime_format(slot) %></td>
            <% elsif slot.is_a? Appointment %>
              <% if slot.description %>
                <td class="slot event">
                  <% if slot.mentor_id != session[:user_id] %>
                  <a href="#" class="showEvent" data-description="<%= slot.description %>"><%= icon('users') %></a>
                  <% end %>
              <% elsif slot.mentee_id %>
                <td class="slot filled">
                  <% if slot.mentee_id == session[:user_id] %>
                    <a href="#" class="cancelAppointment" data-id="<%= slot.id %>"><%= icon('calendar-o') %></a>
                  <% end %>
              <% else %>
                <td class="slot available">
                <% if slot.mentor_id != session[:user_id] %>
                  <a href="#" class="bookAppointment" data-id="<%= slot.id %>"><%= icon('calendar') %></a>
                <% end %>
              <% end %>
              <% if slot.mentor_id == session[:user_id] %>
                <a href="#" class="deleteAvailability" data-id="<%= slot.id %>"><%= icon('times') %></a>
              <% end %>
                </td>
            <% else %>
              <td class="slot"><%= slot %></td>
            <% end %>
          <% end %>
        </tr><!-- end schedule row -->
      <% end %><!-- end row if else -->
    <% end %><!-- end schdule each-->
    </tbody><!-- end table body-->
  </table><!-- end schedule body -->
</div><!-- end container -->

<!-- Modal -->
<div class="modal fade" id="new_appointment" tabindex="-1" role="dialog" aria-labelledby="new_appt_label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="new_appt_label">Create Mentoring Availability</h4>
      </div>
      <div class="modal-body">
        <p>Click 'Create' to make an availability for you to mentor someone at <span id="start_time"></span> on <%= @saturday.strftime("%m/%d/%Y")%></p>
        <form id="event_form" role="form">
          <div class="checkbox">
            <label>
              <input type="checkbox" name="event_check"> Is this a workshop?
            </label>
          </div>
          <div class="form-group hidden" id="description_group">
            <label class="control-label" for="event_description">Description</label>
            <textarea class="form-control" placeholder="workshop description" name="event_description"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="close_create_appt" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="create_appt" type="button" class="btn btn-primary">Create</button>
      </div>
    </div>
  </div>
</div>
<!-- end Modal -->

<!-- Modal -->
<div class="modal fade" id="edit_appointment" tabindex="-1" role="dialog" aria-labelledby="edit_appt_label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="edit_appt_label"></h4>
      </div>
      <div class="modal-body">
        <p id="edit_text"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="edit_appt" type="button" class="btn btn-primary"></button>
      </div>
    </div>
  </div>
</div>
<!-- end Modal -->

<!-- Modal -->
<div class="modal fade" id="delete_availability" tabindex="-1" role="dialog" aria-labelledby="delete_avail_label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="delete_avail_label">Delete Availability</h4>
      </div>
      <div class="modal-body">
        <p>Click 'Delete' to remove this availability.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="delete_avail" type="button" class="btn btn-primary">Delete</button>
      </div>
    </div>
  </div>
</div>
<!-- end Modal -->

<!-- Modal -->
<div class="modal fade" id="showEvent" tabindex="-1" role="dialog" aria-labelledby="show_event_label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="show_event_label">Workshop</h4>
      </div>
      <div class="modal-body">
        <p id="event_description"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- end Modal -->

<form id="delete_appt_form" class="hidden" method="post">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <input type="hidden" name="_method" value="delete">
</form>

<form id="edit_appt_form" class="hidden" method="post">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <input type="hidden" name="_method" value="put">
  <input type="hidden" name="type" value="">
</form>

<form id="create_appt_form" class="hidden" method="post" action="/appointments">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <input type="text" name="start_time">
  <input type="text" name="appt_type">
  <input type="text" name="event_desc">
</form>

<div id="help_content" class="hidden">
  <div id="help" class="help_body">
    <div class="help_row">
      <div class="slot profile">Name</div>
      <div class="slot description">This a user who is offering pairing.  Click to see their profile page.</div>
    </div>
    <div class="help_row">
      <div class="slot new_mentor_availibility">9:00 AM</div>
      <div class="slot description">Click this slot to create an availability to mentor someone for that timeslot.</div>
    </div>
    <div class="help_row">
      <div class="slot filled"></div>
      <div class="slot description">This is a slot that someone has made available for pairing but has been filled by a mentee that is not you.</div>
    </div>
     <div class="help_row">
      <div class="slot filled"><%= icon('times') %></div>
      <div class="slot description">This is slot where you have made yourself available for pairing and has already been filled.  Click to cancel the availability.</div>
    </div>
    <div class="help_row">
      <div class="slot filled"><%= icon('calendar-o') %></div>
      <div class="slot description">This is a slot that someone has made available for pairing and has been filled by you.  Click this to cancel the appointment.</div>
    </div>
    <div class="help_row">
      <div class="slot available"><%= icon('calendar') %></div>
      <div class="slot description">This is a slot that someone has made available for pairing. Click to book this pairing session.</div>
    </div>
    <div class="help_row">
      <div class="slot available"><%= icon('times') %></div>
      <div class="slot description">This is slot where you have made yourself available for pairing but has not been filled.  Click to cancel the availability.</div>
    </div>
    <div class="help_row">
      <div class="slot event"><%= icon('users') %></div>
      <div class="slot description">This is slot for a workshop event. Click to view description.</div>
    </div>
    <div class="help_row">
      <div class="slot event"><%= icon('times') %></div>
      <div class="slot description">This is slot for a workshop event which you have created. Click to delete.</div>
    </div>
  </div>
</div>
