<!DOCTYPE html>
<html>
<head>
  <title>Shoelace</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>

  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Shoelace</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
            <% unless authenticated? %>
            <%= button_to "Sign In", {:controller => "sessions", :action => "sign_in"}, {:method => :get, :form_class => "navbar-form navbar-right", :class => "btn btn-success" }%>
            <% else %>
            <%= button_to "Sign Out", {:controller => "sessions", :action => "sign_out"}, {:method => :get, :form_class => "navbar-form navbar-right", :class => "btn btn-success" }%>
            <% end %>
            </li>
          </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </div>
  <%= yield %>
</body>
</html>
