<!DOCTYPE html>
<html>
<head>
  <title>Shoelace</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "bootstrap" %>
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "bootstrap.min" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if authenticated? %>
    <%= link_to 'sign out', :signout %>
  <% else %>
    <%= link_to 'sign in', :signin %>
  <% end %>

  <%= yield %>

</body>
</html>
